html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/* Placeholder styling */
.form-floating > .form-control-plaintext::placeholder,
.form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder,
.form-floating > .form-control:focus::placeholder {
    text-align: start;
}

/* =======================
   DARK MODE STYLES
======================= */
.dark-mode {
    background-color: #121212; /* dark background */
    color: #ffffff; /* light text */
}

    .dark-mode a {
        color: #ffa500; /* links in dark mode */
    }

    .dark-mode .btn-primary {
        background-color: #258cfb;
        border-color: #258cfb;
        color: white;
    }

    .dark-mode input,
    .dark-mode textarea,
    .dark-mode select {
        background-color: #1e1e1e;
        color: #ffffff;
        border-color: #444444;
    }

    .dark-mode .form-control::placeholder {
        color: #bbbbbb;
    }
